.buttonMain {
  background-color: transparent;
  padding: 18px;
  border-radius: 999px;
  margin-top: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition:
    background-color 0.35s ease,
    color 0.35s ease,
    box-shadow 0.35s ease,
    transform 0.35s ease;
}

.buttonMain:hover {
  background-color: white !important;
  color: black;
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
  transform: translateY(-3px);
}

.buttonMain:active {
  transform: translateY(-1px); /* Efek ditekan */
}
