@import "tailwindcss";

body {
  background-color: #0d0d0d;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
